.search-bar {
  display: flex;
  align-items: center;
  background: #ffffff14;
  border-radius: 8px;
  padding: 10px 14px;
  width: 400px;
  gap: 10px;
  margin: 5px;

  input {
    flex: 1;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    outline: none;

    &::placeholder {
      color: #aaa;
    }
  }

  .search-icon {
    color: #aaa;
    cursor: pointer;
  }
}
