.fav-body {
  margin: 40px;
}

.fav-title {
  font-family: basierCircle;
  margin: 10px;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
}
.no-fav-title {
  font-family: basierCircle;
  margin: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
}
